html, body {
    background-color: #8EEB6F;
}

.header-nav h1 {
    display: inline-flex;
    background-color: #416B32;
    color: #C5EEB7;
    margin-left: 1em;
    margin-right: 0em;
    padding: 1em;
}

.header-nav nav {
    display: inline-flex;
}

.header-nav ul li {
    display: inline-flex;
    background-color: #599c43;
    padding: 2em;
}

.header-nav a,
.footer-nav a {
    text-decoration: none;
    color: #C5EEB7;
}

.header-nav h1:hover {
    background-color: #599c43;
}

.header-nav ul li:hover,
.footer-nav ul li:hover {
    background-color: #67ac45;
}

.main-content {
    padding: 2em;
}

.main-content h2 {
    background-color: rgb(62, 130, 83);
    color: #C5EEB7;
    padding: 1em;
}

.main-content h3 {
    background-color: rgb(35, 84, 51);
    color: #C5EEB7;
    padding: 1em;
}

.main-content p {
    font-family: 'Courier New', Courier, monospace;
    background-color: #1f2f2f;
    color: greenyellow;
    padding: 1em;
}

.footer-nav {
    text-align: center;
    font-size: 0.75em;
    color: #C5EEB7;
    padding: 0.5em 2em;
}

.footer-nav ul li {
    display: inline-flex;
    background-color: #599c43;
    padding: 1em;
}